body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

.game--container {
  margin-top: 50px;
}

.result {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}