body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: grid;
  height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 100px;
}

.game--container {
  margin-top: 100px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.result {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding-top: 10px;
}

.round-info {
  justify-content: left;
  text-align: left;
  margin-top: -200px;
}

.score-info {
  justify-content: right;
  text-align: right;
  margin-top: -200px;
}

.round,
.player-score,
.computer-score {
  font-weight: bold;
}

.result {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

#info-button-container {
  text-align: right;
}

#info-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#info-content {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  border-radius: 5px;
  text-align: left;
}

#close-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-button:hover {
  background-color: #555;
}

footer {
  color: #333;
  /* padding: 20px; */
  text-align: center;
  vertical-align: bottom;
}

section {
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
  /* margin-left: 590px; */
  justify-content: space-around;
  gap: 30px;
}

@media screen and (min-width: 576px) {
  body {
    height: 100vh
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  body {
    height: 100vh
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  body {
    height: 100vh
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  body {
    height: 100vh
  }
}